{% extends "base.html" %}

{% block title %}
My Account | STOK
{% endblock %}

{% block content %}

    <main role="main" class="container">

      <div class="starter-template">
        <h1>My Account</h1>
        <p class="lead">
          {{user_photo}}

          <!-- picture of octocat in the meantime-->
          <img src="../static/images/octocat.png" alt="Octocat" height="200" width="400">

          <!-- insert placeholders for now for demos -->
          <center>
            <table>
              <tr>
                <th><center> Name: </center></th>
                <td width="10px"><center> {{name}} </center></td>
              </tr>

              <tr>
                <th><center> Balance: </center></th>
                <td><center>{{balance}} </center></td>
              </tr>

            <!--  <tr>
                <th><center> Date Joined: </center></th>
                <td><center> {{date_joined}} January 2018 </center></td>
              </tr>-->
            </table>
            <table style="text-align:center;padding:20px; border: 3px;">
              <tr>
                <th>
                  STOCK
                </th>
                <th>
                  AMOUNT OF STOCK
                </th>
                <th>
                  PURCHASED AT
                </th>
                <th>
                  VALUE
                </th>
                <th>
                  DATE PURCHASED
                </th>
                <th>
                  CURRENT PRICE
                </th>
              </tr>
              {% set ctr = 0 %}
              {% for stock_entry in stocks %}
                <tr>
                  {% for entry in stock_entry %}
                    <td>
                      {{entry}}
                    </td>
                  {% endfor %}
                  <td>
                    <form action="/sell" method="POST">
                      <button type="submit" name="ind" method="GET" value= {{ctr}}> Sell!</button>
                    </form>
                  </td>
                  {% set ctr = ctr + 1 %}
                </tr>
              {% endfor %}
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                    <p>{{ message }}</p>
                  {% endfor %}
                {% endif %}
              {% endwith %}
            </table>
          </center>

        </p>
      </div>
      <div class="starter-template">
        <h1>My Stats & Stocks</h1>
        <p class="lead">

          <i class="em em-money_with_wings"></i> Stats <i class="em em-money_with_wings"></i>

        </p>

        <a href="/transaction" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Make a Transaction</a>

    </div>

      <a href="/logout" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Log Out</a>

      <!-- ENTER EACH PAGES CONTENT-->

    </main><!-- /.container -->

    {% endblock %}
