{% extends "base.html" %}

{% block title %}
My Account | STOK
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p class="lead"><center>{{ message }}<center></p>
    {% endfor %}
  {% endif %}
{% endwith %}

      <div class="starter-template">
        <h1>My Account</h1>
        <p class="lead">
          {% if pfp == 1 %}
          <img src="../static/images/jedi.jpg" alt="Octocat" height="200" width="200">
          {% elif pfp == 2 %}
          <img src="../static/images/dead.jpg" alt="Octocat" height="200" width="200">
          {% elif pfp == 3 %}
          <img src="../static/images/normie.png" alt="Octocat" height="200" width="400">
          {% elif pfp == 4 %}
          <img src="../static/images/rocket.png" alt="Octocat" height="200" width="300">
          {% elif pfp == 5 %}
          <img src="../static/images/cold.png" alt="Octocat" height="200" width="200">
          {% elif pfp == 6 %}
          <img src="../static/images/super.jpg" alt="Octocat" height="200" width="200">
          {% elif pfp == 7 %}
          <img src="../static/images/teach.jpeg" alt="Octocat" height="200" width="250">
          {% else %}
          <img src="../static/images/normie.png" alt="Octocat" height="200" width="400">
          {% endif %}

          <!-- insert placeholders for now for demos -->
          <center>
            <table class="table table-bordered">
              <tr>
                <th width="10px"><center> Name: </center></th>
                <td width="10px"><center> {{name}} </center></td>
              </tr>

              <tr>
                <th><center> Balance: </center></th>
                <td><center>${{balance}} </center></td>
              </tr>
	       <tr>
                <th><center> Value of Your Stocks: </center></th>
                <td><center>${{stockVal}} </center></td>
               </tr>
	       <tr>
                <th><center> Total Value of Account: </center></th>
                <td><center>${{totalVal}} </center></td>
              </tr>

              <!--  <tr>
                   <th><center> Date Joined: </center></th>
                   <td><center> {{date_joined}} January 2018 </center></td>
                   </tr>-->
            </table>

          </center>

        </p>
      </div>

      <div class="starter-template">
        <h1>My Stocks</h1>
        <p class="lead">

        </p>
        <table class="table table-bordered">
          <tr>
            <th>
              Stock
            </th>
            <th>
              Amount of Stock
            </th>
            <th>
              Price Purchased at
            </th>
            <th>
              Current Value
            </th>
            <th>
              Date Purchased
            </th>
            <th>
              Current Price
            </th>
          </tr>
            {% for stock_entry in stocks %}
            <tr>
              {% for entry in stock_entry %}
                 <td>
                  {{entry}}
                </td>
              {% endfor %}
                <form action="/sell" method="POST">
                  <td>
                    # Stock: <input type="text" id="num" name="num" value="0">
                  </td>

                  <td>
                    <button type="submit" name="ind" method="GET" value= {{loop.index0}}> Sell!</button>
                  </td>
                </form>
            </tr>
            {% endfor %}

        </table>
        <a href="/transaction" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Make a Transaction</a>

        <br><br><br><br><br>

        <a href="/logout" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Log Out</a>

    </div>




    {% endblock %}
