{% extends "base.html" %}

{% block title %}
Welcome to STOK! | STOK
{% endblock %}

{% block content %}

  <div class="container">
      <div class="starter-template">
        <h1>Welcome to STOK!</h1>
        <p class="lead">
        </p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}


        <!--Change Username-->
        <div class="container">
          <div class="row justify-content-center">
            <form class="form-signin" action='/change' method="POST">
              <h1 class="h3 mb-3 font-weight-normal">Change Username</h1>
              <label for="inputUsername" class="sr-only">Old Username</label>
              <input type="text" id="inputUsername" class="form-control" placeholder="Enter Old Username" name="old_name" required autofocus>
              <label for="inputUsername" class="sr-only">New Username</label>
              <input type="text" id="inputUsername" class="form-control" placeholder="Enter New Username" name="new_name1" required autofocus>
              <label for="inputUsername" class="sr-only">Confirm New Username</label>
              <input type="text" id="inputUsername" class="form-control" placeholder="Confirm New Username" name="new_nam2" required autofocus>
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Enter Password" name="password" required>

              <br>

              <button class="btn btn-lg btn-primary btn-block" type="submit" value="Change Username" name="change_user">Change Username</button>

              <br>
            </form>

          </div>

      </div>

      <!--Change Password-->
      <div class="container">
        <div class="row justify-content-center">
          <form class="form-signin" action='/change' method="POST">
            <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" id="inputUsername" class="form-control" placeholder="Enter Username" name="username" required autofocus>
            <label for="inputPassword" class="sr-only">Old Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Enter Old Password" name="old_pass" required>
            <label for="inputPassword" class="sr-only">New Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Enter New Password" name="new_pass_1" required>
            <label for="inputPassword" class="sr-only">Confirm New Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Confirm New Password" name="new_pass_2" required>

            <br>

            <button class="btn btn-lg btn-primary btn-block" type="submit" value="Create Account" name="create_account">Create Account</button>

            <br>
            <small> Have an Account Already? <a href="/login">Log In here.</a></small>
          </form>

        </div>

    </div>
    </div>
  </dv>


    {% endblock %}
