{% extends "base.html" %}

{% block title %}
News Feed | STOK
{% endblock %}

{% block content %}

    <main role="main" class="container">

      <div class="starter-template">
        <h1>Welcome to STOK!</h1>
        <p class="lead">

 			<h1> The Latest Finance News! </h1>
			<p> <a href={{u1}}>{{headline}}</a> </p>
      <p> <a href={{u2}}>{{headlinet}}</a> </p>
      <p> <a href={{u3}}>{{headlineth}}</a> </p>

        </p>

    </div>



      <!-- ENTER EACH PAGES CONTENT-->

    </main><!-- /.container -->

    {% endblock %}
