{% extends "base.html" %}

{% block title %}
Welcome to STOK!
{% endblock %}

{% block content %}

    <main role="main" class="container">

      <div class="starter-template">
        <h1>Welcome to STOK!</h1>
        <p class="lead">


        </p>

        <h4>Let's get started!</h4>

        <a href="/login" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Log In</a>
        <a href="/create_account" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Sign Up</a>
      </div>



      <!-- ENTER EACH PAGES CONTENT-->

    </main><!-- /.container -->

    {% endblock %}
