{% extends "base.html" %}

{% block title %}
How to Play | STOK
{% endblock %}

{% block content %}

    <main role="main" class="container">

      <div class="starter-template">
        <h1>How to Play:</h1>
        <p>
          STOK is a stock market simulation game based on real-time stock prices. In order to play the
simulation, a user must be <a href="/login">logged in</a> or must <a href="/create_account">create an account</a>.
          <br>
          <br>
To start a game, they begin by choosing their difficulty which adjusts
their starting balance accordingly. Based on how much money they have, they will be able to look up and
purchase stocks to add to their portfolio or sell stocks in their portfolio. Only a user’s last three transactions will
be saved. The top ten users with the highest balances per level will be displayed on a leaderboard visible to all
users and updated after every transaction.
          <br>
          <br>
Once a game is started, it must be continued unless a user chooses to
end the game. Then, their account is reset and they are able to start a new game with a new difficulty.
Once the simulation is implemented, STOK hopes to grow to be more of a social media platform, where
one can visit their friends’ pages, and check what stocks they’re working with as well as how they’re doing on
the market. On your feed, you may like or dislike friends’ activity (buying/selling) indicating approval of their
purchase.
        </p>

      </div>



      <!-- ENTER EACH PAGES CONTENT-->

    </main><!-- /.container -->

    {% endblock %}
