{% extends "base.html" %}

{% block title %}
Leaderboard | STOK
{% endblock %}

{% block content %}

    <main role="main" class="container">

      <div class="starter-template">
        <h1>Top 10 Players</h1>


          <br>
          <center>
            <table>


            <!--
            {% set counter = 1 %}
            {% for leader in leaders_list %}
              <tr>
                <th>#{{counter}}</th>
                <td>{{leader}}</td>
              </tr>
              {% set counter = counter + 1 %}
            {% endfor %}
            -->

              <tr>
                <th>#1</th>
                <td>TBM</td>
              </tr>
              <tr>
                <th>#2</th>
                <td>Octocat</td>
              </tr>
              <tr>
                <th>#3</th>
                <td>Frankie Valli</td>
              </tr>
              <tr>
                <th>#4</th>
                <td>Morty</td>
              </tr>
              <tr>
                <th>#5</th>
                <td>Principal Contreras</td>
              </tr>
              <tr>
                <th>#6</th>
                <td>Harold</td>
              </tr>
              <tr>
                <th>#7</th>
                <td>Adam</td>
              </tr>
              <tr>
                <th>#8</th>
                <td>Holden</td>
              </tr>
              <tr>
                <th>#9</th>
                <td>Samantha</td>
              </tr>
              <tr>
                <th>#10</th>
                <td>Taylor</td>
              </tr>
            </table>
          </center>


      </div>



      <!-- ENTER EACH PAGES CONTENT-->

    </main><!-- /.container -->

    {% endblock %}
