{% extends "base.html" %}

{% block title %}
Leaderboard | STOK
{% endblock %}

{% block content %}

    <main role="main" class="container">

      <div class="starter-template">
        <h1>Top 10 Players</h1>


          <br>
          <center>
            <table>
            
              {% set counter = 1 %}
            {% for leader in leaders_list %}
              <tr>
                <th>#{{leader}}</th>
                <td>{{leaders_list[leader]}}</td>
              </tr>
                {% set counter = counter + 1 %}
            {% endfor %}
           
            </table>
          </center>
      </div>

      <!-- ENTER EACH PAGES CONTENT-->

    </main><!-- /.container -->

    {% endblock %}
