{% extends "base.html" %}

{% block title %}
Leaderboard | STOK
{% endblock %}

{% block content %}

      <div class="starter-template">
        <h1 style="color:#007bff;">Top 10 Players</h1>

          <br>
          <div class="container" style="padding-left:100px;padding-right:100px;">
          <center>
            <table class="table table-bordered">

            {% set counter = 1 %}
            {% for leader in leaders_list %}
              <tr>
                <th>#{{leader}}</th>
                <td><center>{{leaders_list[leader][0]}} &nbsp&nbsp&nbsp&nbsp </center></td>
                <td><center><b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspBalance:</b> ${{leaders_list[leader][1]}} &nbsp&nbsp&nbsp&nbsp </center></td>
              </tr>
                {% set counter = counter + 1 %}
            {% endfor %}

            </table>
          </center>
        </div>
      </div>

    {% endblock %}
