{% extends "base.html" %}

{% block title %}
Log In | STOK
{% endblock %}

{% block content %}

    <main role="main" class="container">

      <div class="starter-template">
        <h1>Log In</h1>
        <p class="lead"> <br /><br />
        <form action='/create_account' method='POST'>

          Username: <input type="text" value="username"> <br /><br />
	        Password: <input type="password" value="pass"/> <br /> <br />
  	    <input type="submit" value="Login">
      </form>

        </p>

      </div>



      <!-- ENTER EACH PAGES CONTENT-->

    </main><!-- /.container -->
    {% endblock %}
