{% extends "base.html" %}

{% block title %}
Sign Up | STOK
{% endblock %}

{% block content %}

    <main role="main" class="container">

      <div class="starter-template">
        <h1>Sign Up</h1>
        <p class="lead">
          <form method="post" name="signup">
            Username: <input type="text" name="username" required> <br /><br />
            Password: <input type="password" name="password" required> <br /> <br />
            Difficulty Level: &nbsp &nbsp
            <input type="radio" name="easy"> Easy &nbsp
            <input type="radio" name="medium"> Medium &nbsp
            <input type="radio" name="hard"> Hard &nbsp <br><br>
	    <input type="submit" value="Create Account"> 
          </form>

        </p>

      </div>



      <!-- ENTER EACH PAGES CONTENT-->

    </main><!-- /.container -->
    {% endblock %}
