{% extends "base.html" %}

{% block title %}
Welcome to STOK! | STOK
{% endblock %}

{% block content %}

  <div class="container">
      <div class="starter-template">
        <h1>Welcome to STOK!</h1>
        <p class="lead">
        </p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <div class="container">
          <div class="row justify-content-center">
            <form class="form-signin" action='/create_account' method="POST">
              <img class="mb-4" src="https://d30y9cdsu7xlg0.cloudfront.net/png/196630-200.png" alt="" width="72" height="72">
              <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
              <label for="inputUsername" class="sr-only">Username</label>
              <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" required autofocus>
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password1" required>
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Confirm Password" name="password2" required>

              <button class="btn btn-lg btn-primary btn-block" type="submit" value="Create Account" name="create_account">Create Account</button>

              <br>
              <small> Have an Account Already? <a href="/login">Log In here.</a></small>
            </form>

          </div>

      </div>
    </div>
  </dv>


    {% endblock %}
