{% extends "base.html" %}

{% block title %}
Sign Up | STOK
{% endblock %}

{% block content %}

    <main role="main" class="container">

      <div class="starter-template">
	 {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          {% endif %}
              {% endwith %}
        <h1>Sign Up</h1>
        <p class="lead">
          <form action='/create_account' method="post">
            Username: <input type="text" name="username" required> <br /><br />
            Password: <input type="password" name="password1" required> <br /> <br />
            Confirm password: <input type="password" name="password2" required> <br /> <br />
	    *Your difficulty level determines how much money you start with. <br><br>

	    <input type="submit" value="Create Account" name="create_account">
          </form>

        </p>

      </div>



      <!-- ENTER EACH PAGES CONTENT-->

    </main><!-- /.container -->
    {% endblock %}
