{% extends "base.html" %}

{% block title %}
My Stats & Stocks
{% endblock %}

{% block content %}

    <main role="main" class="container">

      <div class="starter-template">
        <h1>Welcome to STOK!</h1>
        <p class="lead">


          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>S

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>T
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>A
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>T

          <i class="em em-money_with_wings"></i><i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>S
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>S
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>T
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>O
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>C
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>K

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>S
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i><i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>


        </p>

    </div>



      <!-- ENTER EACH PAGES CONTENT-->

    </main><!-- /.container -->

    {% endblock %}
