{% extends "base.html" %}

{% block title %}
My Stats & Stocks | STOK
{% endblock %}

{% block content %}

    <main role="main" class="container">

      <div class="starter-template">
        <h1>My Stats & Stocks</h1>
        <p class="lead">


          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>S

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>T
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>A
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>T

          <i class="em em-money_with_wings"></i><i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>S
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>S
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>T
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>O
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>C
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>K

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>S
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i><i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>
          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>

          <i class="em em-money_with_wings"></i>


        </p>

        <a href="/transaction" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Make a Transaction</a>

    </div>



      <!-- ENTER EACH PAGES CONTENT-->

    </main><!-- /.container -->

    {% endblock %}
