{% extends "base.html" %}

{% block title %}
My Stats & Stocks
{% endblock %}

{% block content %}

    <main role="main" class="container">

      <div class="starter-template">
        <h1>Welcome to STOK!</h1>
        <p class="lead">

          <br>
          <br>
          <br>
          <br>i
          <br> m
          <br>  p
            <br> o
            <br>  r
               <br>t
                <br>a
                 <br>n
                  <br>t
                  <br>
          <br>n
           <br>e
            <br>w
             <br>s


        </p>

    </div>



      <!-- ENTER EACH PAGES CONTENT-->

    </main><!-- /.container -->

    {% endblock %}
