{% extends "base.html" %}

{% block title %}
Make a Transaction | STOK
{% endblock %}

{% block content %}


    <main role="main" class="container">
      <div class="starter-template">
        <h1>Make a Transaction</h1>
        Search a Stock: <input type="text" name="stock" >
        <button id="stock_search">Search!</button>
        <p id="searched_stock">
        <button> Buy some!</button>  
        </p>

    <!--    <a href="/confirmation" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Complete Transaction</a> -->
      </div>
      <!-- ENTER EACH PAGES CONTENT-->

    <!-- /.container -->
    <script src="/static/jquery-3.1.1.min.js"></script>
    <script src="/static/js/ajax.js"></script>
    </main>

    {% endblock %}
