{% extends "base.html" %}

{% block title %}
Make a Transaction | STOK
{% endblock %}

{% block content %}


    <main role="main" class="container">
      <div class="starter-template">
        <h1>Make a Transaction</h1>
        <br><br>
        <h4>Search a Stock:  <input type="text" name="stock"> <button id="stock_search">Search!</button></h4>

        <div class="container">
          <div class="row justify-content-start">
            <div class="col-sm">
              <small class="" style="color:red">*</small> Make sure that your input is the <b><i>stock ticker</i></b>, not the name of the company (ex: AAPL instead of Apple). You can verify the ticker name <a href="https://www.marketwatch.com/tools/quotes/lookup.asp">here</a>.
            </div>
          </div>
        </div>

        <br /><br />
        <form action="/transact" method="POST">
          <input type="text" name="searched_stock_name" readonly="readonly" id="searched_stock_name" style="display: none;">
          <input type="text" name="searched_stock_price" readonly="readonly" id="searched_stock_price" style="display: none;"> <br /><br>
          <input type="text" name="high" readonly="readonly" id="high" style="display:none;"><br /><br>
          <input type="text" name="low" readonly="readonly" id="low" style="display:none;"><br /><br>
          <input style="display:none; width=20px;" type="text" id="num_stock" name="num_stock" value="0" />
          <button type="submit" style="display:none" id="buy" name="buy"> Buy this many shares!</button>
        </form>

    <!--    <a href="/confirmation" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Complete Transaction</a> -->
      </div>
      <!-- ENTER EACH PAGES CONTENT-->

    <!-- /.container -->
    <script src="/static/jquery-3.1.1.min.js"></script>
    <script src="/static/js/ajax.js"></script>
    </main>

    {% endblock %}
